.webuploader-container {
	position: relative;
	width: .85rem;
	height: .85rem;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
	width: .85rem;
	height: .85rem;
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	width: .85rem;
	height: .85rem;
}
.webuploader-pick-hover {
	width: .85rem;
	height: .85rem;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
	width: .85rem;
	height: .85rem;
}

