<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <div class=" form">
                        <form class="cmxform form-horizontal adminex-form" id="commentForm" method="post" action="house/house_add">
                            <div class="form-group">
                                <label for="is-sale" class="col-lg-2 col-sm-2 control-label">是否可售</label>
                                <div class="col-lg-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="is-sale" id="is-sale" value="1">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group sale-house">
                                <label for="sale-price" class="col-lg-2 col-sm-2 control-label">售价</label>
                                <div class="input-group col-lg-4 col-sm-4 add-pl">
                                    <span class="input-group-addon">￥</span>
                                    <input type="text" class="form-control" id="sale-price" name="sale-price">
                                    <span class="input-group-addon ">.00</span>
                                </div>
                            </div>
                            <div class="form-group sale-house">
                                <label for="floor" class="col-lg-2 col-sm-2 control-label">楼层</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-3 floor-type">
                                        <div class="iconic-input right">
                                            <i class="fa lf">第</i>
                                            <i class="fa">层</i>
                                            <input type="text" id="floor" name="floor" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-lg-3 floor-type">
                                        <div class="iconic-input right">
                                            <i class="fa lf">共</i>
                                            <i class="fa">层</i>
                                            <input type="text" id="total-floors" name="total-floors" class="form-control" >
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-lg-2 col-sm-2 control-label">标题</label>
                                <div class="col-lg-8">
                                    <input type="text" id="title" name="title" class="form-control" placeholder="吸引人的标题可让更多的人看您的信息哦" required>
                                </div>
                            </div>
                            <div class="form-group" id="plot-select">
                                <label for="name" class="col-lg-2 col-sm-2 control-label">小区名称</label>
                                <div class="col-lg-8">
                                    <select class="form-control m-bot15" id="name" name="name">
                                        {{each plots as plot}}
                                        <option value="{{plot.plot_id}}">{{plot.plot_name}}</option>
                                        {{/each}}
                                    </select>
                                    <a href="#myModal-plot" data-toggle="modal" class="btn btn-success btn-xs  house-add-plot" type="button">添加小区</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="developer_id" class="col-lg-2 col-sm-2 control-label">开发商</label>
                                <div class="col-lg-8">
                                    <select class="form-control m-bot15" id="developer_id" name="developer_id">
                                        {{each developers as developer}}
                                        <option value="{{developer.developer_id}}">{{developer.developer_name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="video" class="col-lg-2 col-sm-2 control-label">视频</label>
                                <div class="col-lg-8">
                                    <input type="text" id="video" name="video" class="form-control" placeholder="上传视频">
                                </div>
                            </div>
                            <div class="infolist form-group">
                                <lable class="col-lg-2 col-sm-2 control-label">详细地址</lable>
                                <div class="col-lg-8 address-msg">
                                    <select id="hometown" name="hometown" class="form-control m-bot15" required ></select>省
                                    <select id="city" name="city" class="form-control m-bot15" required ></select>市
                                    <select id="position" name="position" class="form-control m-bot15" required ></select>区
                                    <input type="text" class="form-control" id="address" name="address" placeholder="输入详细地址" required >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bedroom" class="col-lg-2 col-sm-2 control-label">房屋户型</label>
                                <div class="col-lg-10">
                                    <div class="col-lg-3 house-type">
                                        <div class="iconic-input right">
                                            <i class="fa">室</i>
                                            <input type="text" id="bedroom" name="bedroom" class="form-control" required >
                                        </div>
                                    </div>
                                    <div class="col-lg-3 house-type">
                                        <div class="iconic-input right">
                                            <i class="fa">厅</i>
                                            <input type="text" id="livingroom" name="livingroom" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-lg-3 house-type">
                                        <div class="iconic-input right">
                                            <i class="fa">卫</i>
                                            <input type="text" id="toilet" name="toilet" class="form-control">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="house-area" class="col-lg-2 col-sm-2 control-label">面积</label>
                                <div class="input-group col-lg-4 col-sm-4 add-pl">
                                    <input type="text" class="form-control" id="house-area" name="area" required>
                                    <span class="input-group-addon ">平方米</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="house-price" class="col-lg-2 col-sm-2 control-label">价格</label>
                                <div class="input-group col-lg-4 col-sm-4 add-pl">
                                    <span class="input-group-addon">￥</span>
                                    <input type="text" class="form-control" id="house-price" name="price" required>
                                    <span class="input-group-addon ">.00</span>
                                </div>
                            </div>
                            <div class="form-group icheck">
                                <label class="col-lg-2 col-sm-2 control-label">房屋配置</label>
                                <div class="col-lg-10">
                                    {{each datas as data}}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="facility[]" value="{{data.type_id}}">{{data.name}}
                                            </label>
                                        </div>
                                    {{/each}}
                                    <a href="#myModal" data-toggle="modal" class="btn btn-success btn-xs  house-add-fac" type="button">添加</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="house-msg" class="col-lg-2 col-sm-2 control-label">详细信息</label>
                                <div class="col-sm-8">

                                    <!-- 加载编辑器的容器 -->
                                    <div id="new-container" name="content"></div>
                                    <input type="hidden" id='house-msg' name="house-msg">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="notice" class="col-lg-2 col-sm-2 control-label">入住须知</label>
                                <div class="col-sm-8">
                                    <textarea id='notice' name="notice"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="traffic" class="col-lg-2 col-sm-2 control-label">交通情况</label>
                                <div class="col-sm-8">
                                    <textarea id='traffic' name="traffic"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-lg-2 col-sm-2 control-label">负责人</label>
                                <div class="col-lg-8">
                                    <select class="form-control m-bot15" id="manager" name="manager">
                                        {{each managers as manager}}
                                        <option value="{{manager.admin_id}}">{{manager.real_name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">房屋照片</label>
                                <div class="col-lg-9">
                                    <div class="fileupload fileupload-new house-upload-box" data-provides="fileupload">
                                        <ul id="ul_pics" class="ul_pics clearfix">
                                            <li class="house-upload-btn">
                                                <div class="fileupload-new thumbnail house-upload">
                                                    <img src="images/photo-upload.jpg" alt="" id="btn">
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-primary" id="submit">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </section>
        </div>
    </div>
</div>