<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">订单编号</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{order_no}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">停车名称</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{title}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">订单金额</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{price}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">订单用户</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{username}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">用户电话</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{tel}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">紧急联系人</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{urgency_concat}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">紧急联系人电话</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{urgency_contact_tel}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">押金</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{cash_pledge}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">退还押金</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{return_cash_pledge}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">支付方式</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{cash_pledge_pay_way}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">结账负责人</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{checkout_charge}}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">订单时间</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{add_time}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">起始日期</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{start_time}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">结束日期</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{end_time}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">订单状态</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{status}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">订单类型</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{order_type}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">订单备注</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{order_memo}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">停车备注</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{checkin_memo}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">离开备注</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{checkout_mark}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">取消备注</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{cancel_memo}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">离开时是否有问题</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">{{checkout_has_problem}}</p>
                            </div>
                        </div>
                        {{if is_invoice==0}}
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">发票状态</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">发票信息不完整</p>
                            </div>
                        </div>
                        {{/if}}
                        {{if is_invoice==1 && voiced==0}}
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">发票状态</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">未索取</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="button" class="btn btn-primary" id="invoice_create" title="{{order_id}}">索取发票</button>
                            </div>
                        </div>
                        {{/if}}
                        {{if is_invoice==1 && voiced==1}}
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">发票状态</label>
                            <div class="col-lg-10">
                                <p class="form-control-static">已索取</p>
                            </div>
                        </div>
                        {{/if}}
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>