<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="checkIn-container-dad">
                            <div class="checkIn-container">
                                <legend></legend>
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">停车用户</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="name" class="form-control name" placeholder="姓名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">联系方式</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="phone" class="form-control phone" placeholder="telephone ">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2 control-label">身份证号</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="card" class="form-control card" placeholder="证件号">
                                    </div>
                                </div>
                                <legend></legend>
                            </div>
                        </div>
                        <div class="form-group need-add-dad">
                            <label class="col-lg-2 col-sm-2 control-label">添加</label>
                            <div class="col-lg-10">
                                <div class="btn btn-default need-add">添加停车信息</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">押金</label>
                            <div class="col-lg-10">
                                <input type="text" name="pledge" class="form-control pledge" placeholder="押金">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">支付方式</label>
                            <div class="col-lg-10" style="padding-top: 5px">
                                <label for="cash"><input name="pay" type="radio" id="cash" value="现金">现金</label>
                                <label for="Alipay"><input name="pay" type="radio" id="Alipay" value="支付宝" >支付宝</label>
                                <label for="Wechat"><input name="pay" type="radio" id="Wechat" value="微信">微信</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-lg-2 col-sm-2 control-label">停车备注</label>
                            <div class="col-lg-10">
                                <textarea  style="resize:none" cols="40" rows="6"  class="form-control mask" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label"></label>
                            <div class="col-lg-10">
                                <input type="button" name="confirm_enter" class="btn btn-primary confirm" value="办理停车手续">
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
