<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>房源中心</title>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/index.css"/>

</head>
<body>

<div class="container">
    <div class="search">
        <div class="fl search-area">
            南岗区
        </div>
        <div class="fl search-box">
            <input class="fl search-box-ipt" placeholder="搜索房源..." type="text"/>
            <span class="fl search-box-btn"></span>
        </div>
    </div>
    <div class="type-box">
        <ul>
            <li>
                <span>出租类型</span>
                <i class="t-icons"></i>
            </li>
            <li>
                <span>室友</span>
                <i class="t-icons"></i>
            </li>
            <li>
                <span>价钱</span>
                <i class="t-icons"></i>
            </li>
            <li>
                <span>户型</span>
                <i class="t-icons"></i>
            </li>
        </ul>
    </div>
    <div class="hot-type">
        <a class="hot-item hot-active" href="#">热门推荐</a>
        <a class="hot-item" href="#">限时优惠</a>
        <a class="hot-item" href="#">全部</a>
    </div>
    <div class="content">
        <div class="c-item-box">
            <div class="c-item">
                <a href="#">
                    <div class="p-img">
                        <img src="images/index-item.jpg" alt=""/>
                    </div>
                    <div class="p-info">
                        <div class="fl p-title">精装修电梯房</div>
                        <div class="fr p-address">南岗区</div>
                        <div class="p-detail">毗邻哈西万达广场，交通方便设施齐全，水电齐全，独立卫浴</div>
                    </div>
                </a>
            </div>
            <div class="c-item">
                <a href="#">
                    <div class="p-img">
                        <img src="images/index-item.jpg" alt=""/>
                    </div>
                    <div class="p-info">
                        <div class="fl p-title">精装修电梯房</div>
                        <div class="fr p-address">南岗区</div>
                        <div class="p-detail">毗邻哈西万达广场，交通方便设施齐全，水电齐全，独立卫浴</div>
                    </div>
                </a>
            </div>
            <div class="c-item">
                <a href="#">
                    <div class="p-img">
                        <img src="images/index-item.jpg" alt=""/>
                    </div>
                    <div class="p-info">
                        <div class="fl p-title">精装修电梯房</div>
                        <div class="fr p-address">南岗区</div>
                        <div class="p-detail">毗邻哈西万达广场，交通方便设施齐全，水电齐全，独立卫浴</div>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>
</body>
</html>