<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="悦居租房"/>
    <meta name="description" content="悦居租房"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>订单提交页</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/order.css">
    <script src="js/rem.js"></script>
</head>
<body>
<div class="container">

    <div class="check-in">
        <h2 class="order-title">入住信息</h2>
        <div class="line clearfix">
            <span class="info-title fl">房源信息：</span>
            <span class="info-content fr">哈尔滨市南岗区多少路多少号</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">入住时间：</span>
            <span class="info-content fr">2016/1/21</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">退房时间：</span>
            <span class="info-content fr">2017/1/20</span>
        </div>
    </div>

    <div class="hr"></div>

    <div class="order-name">
        <h2 class="order-title">预订人信息</h2>
        <div class="line clearfix">
            <span class="info-title fl">真实姓名：</span>
            <span class="info-content fr">小宝</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">手机号：</span>
            <span class="info-content fr">18834495069</span>
        </div>
    </div>

    <div class="hr"></div>

    <div class="cost-info">
        <h2 class="order-title">订单费用信息</h2>
        <div class="line clearfix  bold">
            <span class="info-title fl">房租</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">日均价</span>
            <span class="info-content fr">3200</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">预定数</span>
            <span class="info-content fr">2天</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">天数</span>
            <span class="info-content fr">3天</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">优惠</span>
            <span class="info-content fr">100元</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">总价</span>
            <span class="info-content fr">6700元</span>
        </div>
        <div class="line clearfix  bold">
            <span class="info-title fl">住宿旅客意外险</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">日均价</span>
            <span class="info-content fr">3200元</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">预订天数</span>
            <span class="info-content fr">2天</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">天数</span>
            <span class="info-content fr">3天</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">优惠</span>
            <span class="info-content fr">100元</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">总价</span>
            <span class="info-content fr">6700元</span>
        </div>
    </div>

    <div class="hr"></div>

    <div class="cost-total">
        <div class="line clearfix">
            <span class="info-title fr">在线收取押金：<i>1000</i>元</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fr">订单总金额：<i class="money">￥3400元</i></span>
        </div>
    </div>

    <div class="hr"></div>

    <div class="invoice-info">
        <h2 class="order-title">发票信息</h2>
        <div class="line clearfix">
            <span class="info-title fl">发票邮寄地址</span>
            <span class="info-content fr">哈尔滨南岗区幸福路93号</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">联系电话</span>
            <span class="info-content fr">18823740298</span>
        </div>
    </div>

    <div class="hr"></div>

    <div class="unsubscribe-role clearfix">
        <h2 class="order-title">退订规则</h2>
        <div class="line p clearfix">
            <p class="info-content fl">
                你想找厂家承诺是加快农村面形成，吗存在明
                显差那么多。注册你想找厂家承诺是加快农村
                面形成，吗存在明显差那么多注册。
            </p>
        </div>
        <div class="checkbox clearfix">
            <div class="cbox checked fl" role="checkbox"
                 onclick="this.className=/checked/ig.test(this.className)?this.className.replace('checked',''):(this.className+' checked')"></div>
            <a class="fl" href="#">我已阅读并同意网站协议</a>
        </div>

        <a href="#" class="submit" role="button">提交订单</a>

        <a href="#" class="back fl">返回</a>

    </div>

</div>
<script>
    document.oncontextmenu = new Function("event.returnValue=false;");
    document.onselectstart = new Function("event.returnValue=false;");
</script>
</body>
</html>