<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="悦居租房"/>
    <meta name="description" content="悦居租房"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>支付成功</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/order.css">
    <script src="js/rem.js"></script>
</head>
<body>
<div class="container clearfix">

    <div class="pay-success">
        <h2 class="order-title">支付成功！</h2>
        <a href="#" class="user-center">点击此，跳转个人中心！</a>
    </div>

    <div class="hr"></div>

    <div class="order-info">
        <span>订单编号：<strong>893219387918237</strong></span>
    </div>

    <div class="hr"></div>

    <div class="order-name">
        <h2 class="order-title">预订人信息</h2>
        <div class="line clearfix">
            <span class="info-title fl">真实姓名：</span>
            <span class="info-content fr">小宝</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">手机号：</span>
            <span class="info-content fr">18834495069</span>
        </div>
    </div>

    <div class="hr"></div>

    <div class="cost-info">
        <h2 class="order-title">订单费用信息</h2>
        <div class="line clearfix  bold">
            <span class="info-title fl">房租</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">日均价</span>
            <span class="info-content fr">3200</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">预定数</span>
            <span class="info-content fr">2天</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">天数</span>
            <span class="info-content fr">3天</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">优惠</span>
            <span class="info-content fr">100元</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">总价</span>
            <span class="info-content fr">6700元</span>
        </div>
        <div class="line clearfix  bold">
            <span class="info-title fl">住宿旅客意外险</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">日均价</span>
            <span class="info-content fr">3200元</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">预订天数</span>
            <span class="info-content fr">2天</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">天数</span>
            <span class="info-content fr">3天</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">优惠</span>
            <span class="info-content fr">100元</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">总价</span>
            <span class="info-content fr">6700元</span>
        </div>
    </div>

    <div class="hr"></div>

    <div class="cost-total">
        <div class="line clearfix">
            <span class="info-title fr">在线收取押金：<i>1000</i>元</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fr">订单总金额：<i class="money">￥3400元</i></span>
        </div>
    </div>

    <div class="hr"></div>

    <div class="check-in-info">
        <h2 class="order-title">入住信息</h2>
        <div class="line clearfix">
            <span class="info-title fl">房源信息</span>
            <span class="info-content fr">哈尔滨市南岗区XX路XX号</span>
        </div>
        <div class="line">
            <span class="info-content fr">一间</span>
            <span class="info-content fr" style="margin-right: .48rem">整租</span>
        </div>
        <div class="line clearfix">
            <span class="info-title fl">入住信息</span>
            <span class="info-content fr">2016年12月12日(星期一)10:00入住</span>
        </div>
        <div class="line clearfix">
            <span class="info-content fr">2016年12月14(星期三)10:00退房</span>
        </div>
        <div class="line clearfix">
            <span class="info-content fr">共两晚</span>
        </div>
    </div>

    <div class="hr"></div>

</div>
<script>
    document.oncontextmenu = new Function("event.returnValue=false;");
    document.onselectstart = new Function("event.returnValue=false;");
</script>
</body>
</html>