<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>个人资料</title>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/information.css"/>

</head>
<body>
    <div class="container">
        <form action="">
            <div class="c-information">
                <div class="infor-photo clearfix">
                    <span>头像</span>
                    <img src="images/photo.jpg" alt=""/>
                </div>
                <div class="infor-msg">
                    <span>用户名</span>
                    <input type="text" value="小宝小小"/>
                </div>
                <div class="infor-msg">
                    <span>手机号</span>
                    <input type="text" value="1392803920192"/>
                </div>
                <div class="infor-msg">
                    <span>邮箱</span>
                    <input type="text" value="8390283938@qq.com"/>
                </div>
            </div>
            <h2 class="infor-title">个人资料</h2>
            <div class="c-information">
                <div class="infor-msg">
                    <span>真实姓名</span>
                    <input type="text" value="李子"/>
                </div>
                <div class="infor-msg">
                    <span>性别</span>
                    <input type="text" value="男"/>
                </div>
                <div class="infor-msg">
                    <span>出生日期</span>
                    <input type="text" value="1991年9月21日"/>
                </div>
                <div class="infor-msg">
                    <span>所在城市</span>
                    <input type="text" value="哈尔滨"/>
                </div>
                <div class="infor-msg">
                    <span>您的故乡</span>
                    <input type="text" value="哈尔滨"/>
                </div>
                <div class="infor-msg">
                    <span>工作公司</span>
                    <input type="text" value="什么设计公司"/>
                </div>
                <div class="infor-msg">
                    <span>所在职位</span>
                    <input type="text" value="软件工程师"/>
                </div>
                <div class="infor-msg">
                    <span>学历</span>
                    <input type="text" value="本科"/>
                </div>
                <div class="infor-msg">
                    <span>学校名称</span>
                    <input type="text" value="黑龙江大学"/>
                </div>
                <input class="infor-btn" type="submit" value="确定"/>
            </div>
        </form>

    </div>

</body>
</html>