<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="悦居租房"/>
    <meta name="description" content="悦居租房"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>修改密码</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/resetPass.css">
    <script src="js/rem.js"></script>
</head>
<body>
<h2 class="title">修改密码</h2>
<div class="check">
    <span class="title">已验证手机号：</span>
    <span class="phone">18846203948</span>
</div>
<form action="">
    <div class="reset reset-phone-code">
        <h4>手机验证码:</h4>
        <div class="reset-box clearfix">
            <input class="reset-input reset-phone-code-num fl" type="text" placeholder="请输入手机验证码...">
            <input class="reset-btn reset-phone-code-btn fr" type="button" value="发送验证码">
        </div>
    </div>
    <div class="reset reset-phone clearfix">
        <h4>请输入新密码:</h4>
        <input class="reset-input reset-phone-num fl" type="password" placeholder="请输入新密码...">
    </div>
    <div class="reset reset-code">
        <h4>验证码:</h4>
        <div class="reset-box clearfix">
            <input class="reset-input reset-phone-code-num fl" type="text" placeholder="请输入验证码...">
            <input class="reset-btn reset-phone-code-btn reset-code-img fr" type="button">
        </div>
    </div>
    <div class="reset-submit">
        <input type="submit" value="注册">
    </div>
</form>
</body>
</html>