<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>首页</title>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/about.css"/>

</head>
<body>
    <div class="container">
        <div class="header">
             <img src="images/index-banner.jpg" alt=""/>
        </div>
        <div class="about-content">
            <div class="about-item">
                <h2 class="about-name">介绍悦居</h2>
                <div class="about-introduce">
                    选择一个您合适的短租生活
                </div>
                <div class="about-info">
                    2016年，注定是很有意思的一年。这一年，我去上海参加完展
                    会回厦门看望通过小猪短租找到了一个住处。房东带着她俩岁的女
                    儿亲自来机场接我，那时候心里特别感动。一路上，我们聊了很多。
                    当我离开的时候，我毅然决定把那套闲置了的套房拿来出租。一是
                    不希望每个月浪费那么些房租，另一方面也能解决来北京旅行或者
                    探望我的亲戚朋友有个安身之处，就像回到家里一样舒服。我并不
                    喜欢把每个空间做的太华丽，我希望的是麻雀虽小，但五脏俱全。
                    没有说特定想要设计什么，只是觉得是些需要的东西。几套房屋的
                    格局都是我挑选过的，地段比较...
                </div>
            </div>
            <div class="about-item">
                <h2 class="about-name">悦居活动</h2>
                <div class="about-introduce">
                    选择一个您合适的短租生活
                </div>
                <div class="about-info">
                    2016年，注定是很有意思的一年。这一年，我去上海参加完展
                    会回厦门看望通过小猪短租找到了一个住处。房东带着她俩岁的女
                    儿亲自来机场接我，那时候心里特别感动。一路上，我们聊了很多。
                    当我离开的时候，我毅然决定把那套闲置了的套房拿来出租。一是
                    不希望每个月浪费那么些房租，另一方面也能解决来北京旅行或者
                    探望我的亲戚朋友有个安身之处，就像回到家里一样舒服。我并不
                    喜欢把每个空间做的太华丽，我希望的是麻雀虽小，但五脏俱全。
                    没有说特定想要设计什么，只是觉得是些需要的东西。几套房屋的
                    格局都是我挑选过的，地段比较...
                </div>
            </div>
        </div>
    </div>


</body>
</html>