<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>登录</title>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/wx-login.css"/>
</head>
<body>
    <div class="wx-login-txt">
        登录
    </div>
    <div class="wx-code">
        <img src="images/wx-code.jpg" alt=""/>
    </div>
    <div class="wx-intro">
        请扫描二维码 <br/>
        并在手机上确认
    </div>
    <a class="wx-back" href="#" >返回</a>
</body>
</html>