<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>收藏</title>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/collect.css"/>
</head>
<body>
    <div class="pro-container">
        <div class="pro-item">
            <a class="pro-box clearfix">
                <div class="fl p-img">
                    <img src="images/collect-img.jpg" alt=""/>
                </div>
                <div class="fr p-info">
                    <h2 class="p-title">离地铁站仅五分钟的舒适阳光房</h2>
                    <div class="p-style p-address">地址：哈尔滨服装城学府花园小区</div>
                    <div class="p-style p-type">
                        <span>单间出租</span>
                        <span>-</span>
                        <span>20条点评</span>
                        <span>-</span>
                        <span>宜住两人</span>
                    </div>
                    <div class="p-btns-box">
                        <span class="p-btns p-collect">取消收藏</span>
                    </div>
                </div>
            </a>
            <div class="pro-date">
                入住时间：2016年12月20日 -离开时间：2016年12月30日
            </div>
        </div>
        <div class="pro-item">
            <a class="pro-box clearfix">
                <div class="fl p-img">
                    <img src="images/collect-img.jpg" alt=""/>
                </div>
                <div class="fr p-info">
                    <h2 class="p-title">离地铁站仅五分钟的舒适阳光房</h2>
                    <div class="p-style p-address">地址：哈尔滨服装城学府花园小区</div>
                    <div class="p-style p-type">
                        <span>单间出租</span>
                        <span>-</span>
                        <span>20条点评</span>
                        <span>-</span>
                        <span>宜住两人</span>
                    </div>
                    <div class="p-btns-box">
                        <span class="p-btns p-collect">取消收藏</span>
                    </div>
                </div>
            </a>
            <div class="pro-date">
                入住时间：2016年12月20日 -离开时间：2016年12月30日
            </div>
        </div>
        <div class="pro-item">
            <a class="pro-box clearfix">
                <div class="fl p-img">
                    <img src="images/collect-img.jpg" alt=""/>
                </div>
                <div class="fr p-info">
                    <h2 class="p-title">离地铁站仅五分钟的舒适阳光房</h2>
                    <div class="p-style p-address">地址：哈尔滨服装城学府花园小区</div>
                    <div class="p-style p-type">
                        <span>单间出租</span>
                        <span>-</span>
                        <span>20条点评</span>
                        <span>-</span>
                        <span>宜住两人</span>
                    </div>
                    <div class="p-btns-box">
                        <span class="p-btns p-collect">取消收藏</span>
                    </div>
                </div>
            </a>
            <div class="pro-date">
                入住时间：2016年12月20日 -离开时间：2016年12月30日
            </div>
        </div>
        <div class="pro-item">
            <a class="pro-box clearfix">
                <div class="fl p-img">
                    <img src="images/collect-img.jpg" alt=""/>
                </div>
                <div class="fr p-info">
                    <h2 class="p-title">离地铁站仅五分钟的舒适阳光房</h2>
                    <div class="p-style p-address">地址：哈尔滨服装城学府花园小区</div>
                    <div class="p-style p-type">
                        <span>单间出租</span>
                        <span>-</span>
                        <span>20条点评</span>
                        <span>-</span>
                        <span>宜住两人</span>
                    </div>
                    <div class="p-btns-box">
                        <span class="p-btns p-collect">取消收藏</span>
                    </div>
                </div>
            </a>
            <div class="pro-date">
                入住时间：2016年12月20日 -离开时间：2016年12月30日
            </div>
        </div>
    </div>


</body>
</html>