<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="悦居租房"/>
    <meta name="description" content="悦居租房"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/register.css">
    <script src="js/rem.js"></script>
</head>
<body>
<h2 class="title">欢迎注册</h2>
<div class="form">
    <form action="">
        <div class="register register-phone clearfix">
            <h4>请输入用户名:</h4>
            <input class="register-input register-phone-num fl" type="text" placeholder="用户名...">
        </div>
        <div class="register register-phone clearfix">
            <h4>请输入密码:</h4>
            <input class="register-input register-phone-num fl" type="password" placeholder="请输入密码...">
        </div>
        <div class="register register-phone clearfix">
            <h4>手机号码:</h4>
            <input class="register-input register-phone-num fl" type="number" placeholder="请输入手机号码...">
        </div>
        <div class="register register-phone-code">
            <h4>手机验证码:</h4>
            <div class="register-box clearfix">
                <input class="register-input register-phone-code-num fl" type="text" placeholder="请输入手机验证码...">
                <input class="register-btn register-phone-code-btn fr" type="button" value="发送验证码">
            </div>
        </div>
        <div class="register register-code">
            <h4>验证码:</h4>
            <div class="register-box clearfix">
                <input class="register-input register-phone-code-num fl" type="text" placeholder="请输入验证码...">
                <input class="register-btn register-phone-code-btn register-code-img fr" type="button">
            </div>
        </div>
        <div class="register register-other-way">
            <h4>第三方登录</h4>
            <div class="clearfix">
                <div class="register-wechat fl">
                    <a href="#">
                        <div class="img">
                            <img src="images/login-wechat.png" alt="">
                        </div>
                        <span>微信登录</span>
                    </a>
                </div>
                <div class="register-qq fl">
                    <div class="img">
                        <img src="images/login-qq.png" alt="">
                    </div>
                    <span>QQ登录</span>
                </div>
            </div>
        </div>
        <div class="register-submit">
            <input type="submit" value="注册">
        </div>
    </form>
</div>
<a class="login" href="#">已有帐号？马上登录!</a>
</body>
</html>