<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>消息中心</title>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/message.css"/>
</head>
<body>
    <div class="message-con">
        <div class="message-item">
            <div class="fl msg-logo">
                <img src="images/msg-logo.png" alt=""/>
            </div>
            <div class="fl msg-detail">
                <div class="msg-title">
                    <h2>系统消息</h2>
                    <span class="fr msg-date">2016/01/02</span>
                </div>
                <div class="msg-info">湖地区和外地号，我去的话电话IEU盾hi而无还
                    对我核，对黑丝带湖区维护地区为湖地区和外
                    地号，我去的话电话IEU盾hi而无还对我核，对
                    黑丝带湖区维护地区为我去的话电话IEU盾hi而无还对我核，对
                    黑丝带湖区维护地区为</div>
            </div>
        </div>
        <div class="message-item">
            <div class="fl msg-logo">
                <img src="images/msg-logo.png" alt=""/>
            </div>
            <div class="fl msg-detail">
                <div class="msg-title">
                    <h2>系统消息</h2>
                    <span class="fr msg-date">2016/01/02</span>
                </div>
                <div class="msg-info">湖地区和外地号，我去的话电话IEU盾hi而无还
                    对我核，对黑丝带湖区维护地区为湖地区和外
                    地号，我去的话电话IEU盾hi而无还对我核，对
                    黑丝带湖区维护地区为我去的话电话IEU盾hi而无还对我核，对
                    黑丝带湖区维护地区为</div>
            </div>
        </div>
        <div class="message-item">
            <div class="fl msg-logo">
                <img src="images/msg-logo.png" alt=""/>
            </div>
            <div class="fl msg-detail">
                <div class="msg-title">
                    <h2>系统消息</h2>
                    <span class="fr msg-date">2016/01/02</span>
                </div>
                <div class="msg-info">湖地区和外地号，我去的话电话IEU盾hi而无还
                    对我核，对黑丝带湖区维护地区为湖地区和外
                    地号，我去的话电话IEU盾hi而无还对我核，对
                    黑丝带湖区维护地区为我去的话电话IEU盾hi而无还对我核，对
                    黑丝带湖区维护地区为</div>
            </div>
        </div>
    </div>

</body>
</html>