<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>评论页面</title>
    <script src="rem.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/comment.css">
</head>
<body>
<div id="img-show">
    <div class="table"></div>
</div>
<div class="comment-top">
    <span>用户点评</span>
</div>
<div class="page-comments">
    <div class="mod-rating commentInfo">
        <ul class="overall-rating">
            <li class="item"><em>5</em>评分</li>
            <li class="item"><em>7</em>点评</li>

            <li class="score-rating">
                <span>位置：4.9</span>
                <span>清洁：5.0</span>
                <span>设施：5.0</span>
                <span>服务：5.0</span>
            </li>
        </ul>

    </div>
    <div class="recommended">
        <div class="mtab-list-hd" >
            <div level="0" class="left-all item commentfilter current" ><span>全部</span></div>
            <div level="-1" class="right-pic item commentfilter"><span>晒照片<i>(3)</i></span></div>
        </div>
    </div>

    <div id="commentcontent_0" class="commentcontent" style="">
        <div class="noComment" style="display: none;"></div>
        <ol class="commentlist list">
            <li>
                <div class="customer">
                    <img class="pic" src="imgs/person_88.png">
                    <p class="user">
                        <span>【顾**】</span>
                        <span>5分</span>
                        <span>推荐</span>
                    </p>
                    <p class="time">12月3日-12月6日入住 <i class="f-r">2016/12/08 点评</i></p>
                </div>
                <p class="text">酒店服务很好，电瓶车很多，泳池不错，但是距自己离市区有点远，早餐一般吧，可以自己做饭，但是火不太快，比没有强，下次还可以考虑</p>
                <ul class="pics-list miniCommentPics" data-pic-id="comment_carousel_1202576">
                    <li data-index="0"><img
                            src="imgs/1.jpg"
                            onerror="this.src='https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_80_80.png';">
                    </li>
                    <li data-index="1"><img
                             src="imgs/2.jpg"
                            onerror="this.src='https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_80_80.png';">
                    </li>
                    <li data-index="2"><img
                            src="imgs/3.jpg"
                            onerror="this.src='https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_80_80.png';">
                    </li>
                    <li data-index="3"><img
                            src="imgs/4.jpg"
                            onerror="this.src='https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_80_80.png';">
                    </li>
                </ul>
                <div class="mg-reply commentReplay">
                    <div class="hd i-arrow-b folder-title folder-title-fold">管理公司回复</div>
                    <div class="bd folder-content hide folder-content-fold"><p><em class="h-light">管理公司回复：</em>亲爱的宾客朋友，您好！感谢您对酒店的支持与肯定！酒店依山傍海，不仅可以享受到阳光、沙滩、海浪带给您的快悠闲自在，还可以感受原始森林的鸟语花香带给您远离喧嚣的度假时光,酒店使用的是电集成灶，火力可能不是很强，可以做一些简单吃的东西。随时恭候您的光临品鉴，谢谢！
                    </p></div>
                </div>
            </li>
        </ol>
    </div>
    <div id="commentcontent_1" class="commentcontent" style="">
        <div class="noComment" style="display: none;"></div>
        <ol class="commentlist list">
            <li>
                <div class="customer">
                    <img class="pic" src="imgs/p2.jpg">
                    <p class="user">
                        <span>【顾**】</span>
                        <span>5分</span>
                        <span>推荐</span>
                    </p>
                    <p class="time">12月3日-12月6日入住 <i class="f-r">2016/12/08 点评</i></p>
                </div>
                <p class="text">酒店服务很好，电瓶车很多，泳池不错，但是距自己离市区有点远，早餐一般吧，可以自己做饭，但是火不太快，比没有强，下次还可以考虑</p>
                <ul class="pics-list miniCommentPics" data-pic-id="comment_carousel_1202576">
                    <li data-index="0"><img
                            src="imgs/1.jpg"
                            onerror="this.src='https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_80_80.png';">
                    </li>
                    <li data-index="1"><img
                            src="imgs/2.jpg"
                            onerror="this.src='https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_80_80.png';">
                    </li>
                    <li data-index="2"><img
                            src="imgs/3.jpg"
                            onerror="this.src='https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_80_80.png';">
                    </li>
                    <li data-index="3"><img
                            src="imgs/4.jpg"
                            onerror="this.src='https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_80_80.png';">
                    </li>
                </ul>
                <div>
                    <div id="comment_carousel_1202576" class=" carousel carousel-comment">
                        <ul style="display:none;">
                            <li><img src="https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_560_350.png"
                                     data-src="https://pic.tujia.com/upload/comment/day_161208/thumb/201612081913527323_1280_1280.jpg">
                            </li>
                            <li><img src="https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_560_350.png"
                                     data-src="https://pic.tujia.com/upload/comment/day_161208/thumb/201612081913546784_1280_1280.jpg">
                            </li>
                            <li><img src="https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_560_350.png"
                                     data-src="https://pic.tujia.com/upload/comment/day_161208/thumb/201612081913586895_1280_1280.jpg">
                            </li>
                            <li><img src="https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_560_350.png"
                                     data-src="https://pic.tujia.com/upload/comment/day_161208/thumb/201612081914018564_1280_1280.jpg">
                            </li>
                        </ul>
                        <div class="pages"></div>
                        <div class="navi_btn prev" style="display:none"></div>
                        <div class="navi_btn next" style="display:none"></div>
                    </div>
                </div>
                <div class="mg-reply commentReplay">
                    <div class="hd i-arrow-b folder-title folder-title-fold">管理公司回复</div>
                    <div class="bd folder-content hide folder-content-fold"><p><em class="h-light">管理公司回复：</em>亲爱的宾客朋友，您好！感谢您对酒店的支持与肯定！酒店依山傍海，不仅可以享受到阳光、沙滩、海浪带给您的快悠闲自在，还可以感受原始森林的鸟语花香带给您远离喧嚣的度假时光,酒店使用的是电集成灶，火力可能不是很强，可以做一些简单吃的东西。随时恭候您的光临品鉴，谢谢！
                    </p></div>
                </div>
            </li>
        </ol>
    </div>
    <div id="commentcontent_2" class="commentcontent pic-content" style="">
        <div class="main" style="display: none;"></div>
        <ol class="commentlist list">
            <li>
                <div class="customer">
                    <img class="pic" src="imgs/person_88.png">
                    <p class="user">
                         <span>【顾**】</span>
                        <span>5分</span>
                        <span>推荐</span>
                    </p>
                    <p class="time">12月3日-12月6日入住 <i class="f-r">2016/12/08 点评</i></p>
                </div>
                <p class="text">酒店服务很好，电瓶车很多，泳池不错，但是距自己离市区有点远，早餐一般吧，可以自己做饭，但是火不太快，比没有强，下次还可以考虑</p>
                <ul class="pics-list miniCommentPics" data-pic-id="comment_carousel_1202576">
                    <li data-index="0"><img
                            src="imgs/1.jpg"
                            onerror="this.src='https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_80_80.png';">
                    </li>
                    <li data-index="1"><img
                            src="imgs/2.jpg"
                            onerror="this.src='https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_80_80.png';">
                    </li>
                    <li data-index="2"><img
                            src="imgs/3.jpg"
                            onerror="this.src='https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_80_80.png';">
                    </li>
                    <li data-index="3"><img
                            src="imgs/4.jpg"
                            onerror="this.src='https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_80_80.png';">
                    </li>
                </ul>
                <div>
                    <div id="comment_carousel_1202575" class=" carousel carousel-comment">
                        <ul style="display:none;">
                            <li><img src="https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_560_350.png"
                                     data-src="https://pic.tujia.com/upload/comment/day_161208/thumb/201612081913527323_1280_1280.jpg">
                            </li>
                            <li><img src="https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_560_350.png"
                                     data-src="https://pic.tujia.com/upload/comment/day_161208/thumb/201612081913546784_1280_1280.jpg">
                            </li>
                            <li><img src="https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_560_350.png"
                                     data-src="https://pic.tujia.com/upload/comment/day_161208/thumb/201612081913586895_1280_1280.jpg">
                            </li>
                            <li><img src="https://staticfile.tujia.com/mobile/images/h5/load_img/tujia_560_350.png"
                                     data-src="https://pic.tujia.com/upload/comment/day_161208/thumb/201612081914018564_1280_1280.jpg">
                            </li>
                        </ul>
                        <div class="pages"></div>
                        <div class="navi_btn prev" style="display:none"></div>
                        <div class="navi_btn next" style="display:none"></div>
                    </div>
                </div>
                <div class="mg-reply commentReplay">
                    <div class="hd i-arrow-b folder-title folder-title-fold">管理公司回复</div>
                    <div class="bd folder-content hide folder-content-fold"><p><em class="h-light">管理公司回复：</em>亲爱的宾客朋友，您好！感谢您对酒店的支持与肯定！酒店依山傍海，不仅可以享受到阳光、沙滩、海浪带给您的快悠闲自在，还可以感受原始森林的鸟语花香带给您远离喧嚣的度假时光,酒店使用的是电集成灶，火力可能不是很强，可以做一些简单吃的东西。随时恭候您的光临品鉴，谢谢！
                    </p></div>
                </div>
            </li>
        </ol>
    </div>
</div>
<script src="js/zepto.js"></script>
<script src="js/comment.js"></script>
</body>
</html>