<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>评论管理</title>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/collect.css"/>
</head>
<body>
<div class="pro-container">
    <div class="pro-item">
        <a class="pro-box clearfix">
            <div class="fl p-img">
                <img src="images/collect-img.jpg" alt=""/>
            </div>
            <div class="fr p-info">
                <h2 class="p-title">离地铁站仅五分钟的舒适阳光房</h2>
                <div class="p-style p-address">地址：哈尔滨服装城学府花园小区</div>
                <div class="p-style p-type">
                    <span>单间出租</span>
                    <span>-</span>
                    <span>20条点评</span>
                    <span>-</span>
                    <span>宜住两人</span>
                </div>
                <div class="p-date">
                    <div class="p-in-date">入住时间：2016年12月20日 </div>
                    <div class="p-out-date">离开时间：2016年12月30日</div>
                </div>
            </div>
        </a>
        <div class="pro-comment">
            <div class="pro-star clearfix" >
                <span class="com-stars-title">评论星级：</span>
                <ul class="fl com-stars">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="pro-my-comment">
                <div class="pro-com-title">
                    我的评论：
                </div>
                <div class="pro-com-info">
                    市场价是你才难看吗，奥斯卡电脑卡就是你打开。才
                    能考试就能从近三年，思考出技能是科技农村。市场
                    价是你才难看吗，奥斯卡电脑卡就是你。
                </div>
            </div>
            <div class="com-btns clearfix">
                <a href="#" class="com-del-btn">删除评论</a>
                <a href="#" class="com-update-btn">修改评论</a>
            </div>
        </div>
    </div>
    <div class="pro-item">
        <a class="pro-box clearfix">
            <div class="fl p-img">
                <img src="images/collect-img.jpg" alt=""/>
            </div>
            <div class="fr p-info">
                <h2 class="p-title">离地铁站仅五分钟的舒适阳光房</h2>
                <div class="p-style p-address">地址：哈尔滨服装城学府花园小区</div>
                <div class="p-style p-type">
                    <span>单间出租</span>
                    <span>-</span>
                    <span>20条点评</span>
                    <span>-</span>
                    <span>宜住两人</span>
                </div>
                <div class="p-date">
                    <div class="p-in-date">入住时间：2016年12月20日 </div>
                    <div class="p-out-date">离开时间：2016年12月30日</div>
                </div>
            </div>
        </a>
        <div class="pro-comment">
            <div class="pro-star clearfix" >
                <span class="fl com-stars-title">评论星级：</span>
                <ul class="com-stars">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="pro-my-comment">
                <div class="pro-com-title">
                    我的评论：
                </div>
                <div class="pro-com-area">
                    <textarea placeholder="我的评论是...."></textarea>
                </div>
            </div>
            <div class="com-btns clearfix">
                <a href="#" class="com-del-btn">删除评论</a>
                <a href="#" class="com-update-btn">修改评论</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>