<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>首页</title>
    <script src="js/rem.js"></script>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/index.css"/>

</head>
<body>

    <div class="container">
        <div id="header">
            <a href="#">
                <img src="images/index-banner.jpg" alt=""/>
            </a>
        </div>
        <div class="search">
            <div class="fl search-area">
                南岗区
            </div>
            <div class="fl search-box">
                <input class="fl search-box-ipt" placeholder="搜索房源..." type="text"/>
                <span class="fl search-box-btn"></span>
            </div>
        </div>
        <div class="content">
            <div class="c-title">
                <h2>推荐房源</h2>
                <p>选择一个您合适的短租生活</p>
            </div>
            <div class="c-item-box">
                <div class="c-item">
                    <a href="#">
                        <div class="p-img">
                            <img src="images/index-item.jpg" alt=""/>
                        </div>
                        <div class="p-info">
                            <div class="fl p-title">精装修电梯房</div>
                            <div class="fr p-address">南岗区</div>
                            <div class="p-detail">毗邻哈西万达广场，交通方便设施齐全，水电齐全，独立卫浴</div>
                        </div>
                    </a>
                </div>
                <div class="c-item">
                    <a href="#">
                        <div class="p-img">
                            <img src="images/index-item.jpg" alt=""/>
                        </div>
                        <div class="p-info">
                            <div class="fl p-title">精装修电梯房</div>
                            <div class="fr p-address">南岗区</div>
                            <div class="p-detail">毗邻哈西万达广场，交通方便设施齐全，水电齐全，独立卫浴</div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="footer">
            <div class="c-title">
                <h2>悦居便利你的生活</h2>
                <p>选择一个您合适的短租生活</p>
            </div>
            <ul class="f-icons clearfix">
                <li>
                    <img src="images/footer-1.png" alt=""/>
                    <div>安全交易</div>
                </li>
                <li>
                    <img src="images/footer-2.png" alt=""/>
                    <div>国企认证</div>
                </li>
                <li>
                    <img src="images/footer-3.png" alt=""/>
                    <div>其他认证</div>
                </li>
                <li>
                    <img src="images/footer-4.png" alt=""/>
                    <div>生活便捷</div>
                </li>
                <li>
                    <img src="images/footer-5.png" alt=""/>
                    <div>其他什么</div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>